# Models
*.pth
*.h5
*.pt
*.onnx
*.zip

# Data
data/
datasets/

# Kaggle
.ipynb_checkpoints/
.kaggle/

# Python
__pycache__/
venv/
env/

# Secrets
.env

# Datasets
Duplication_Dataset/
Forgery_Dataset/
weights/

# Exceptions
!liveness.h5
